@model FarmTradeApp.Controllers.UserAndProductsModel
<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
      <link rel="stylesheet" href="~/css/profileStyle.css">
  </head>
  <body>
<header>
        <a href="~/Index">
          <div class="logo">FarmTrade</div>
        </a>
        <div class="search-bar">
          <form asp-controller="Home" asp-action="Search" method="GET">
          <input type="text" class="search-input" name="search_params" placeholder="Search products...">
          <button class="search-button" type="submit">Search</button>
          </form>
        </div>
        <div class="dropdown user-buttons">
          <button class="user-button">Categories</button>
          <ul class="dropdown-menu">
            @foreach (var cat in (IEnumerable<Category>)ViewData["catList"])
            {
              <li><a href="~/Index?cat=@cat.Category_id">@cat.Category_name</a></li>
            }
          </ul>
        </div>
        <div class="user-buttons">
          @if (User.Identity.IsAuthenticated)
          {
            <a class="user-button button" href="~/Profile">Account</a>
          }
          else
          {
            <a class="user-button button" href="~/SignIn">Sign In</a>
            <a class="user-button button" href="~/SignUp">Sign Up</a>
          }
        </div>
      </header>

    <div class="user-info">
      <h2>
        <div class="seller-photo">
          <img src="@Model.user.profile_picture" alt="" class="seller-photo">
          </div>
        @Model.user.first_name
      </h2>
      <p>Name: @Model.user.first_name</p>
      <p>Address: @Model.user.address</p>
      <p>Email: @Model.user.email</p>
      <a href="#">Documents</a> <br>
      @if (@User.FindFirst("user_id").Value == Model.user.user_id.ToString())
      {
        <a href="~/AddProduct" target="popup" onclick="window.open('/AddProduct','name','width=800,height=600')">
          Add product
        </a>
        <br>
        <a href="~/DocumentUpload" target="popup" onclick="window.open('/DocumentUpload','name','width=520,height=320')">
          Upload Document
        </a>
        <br>
        <a href="~/LogOut">Log out</a>
      }
    </div>
  <div class="product-grid">
    @foreach (var product in Model.Products)
    {
      <a href="~/Product?id=@product.product_id">
    <div class="product">
      <img src="@product.photo">
      <h3>@product.name</h3>
      <p>@product.description</p>
    </div>
    </a>
    }
  </div>
    <script>
      let prevScrollPos = window.pageYOffset;
      window.onscroll = function() {
        let currentScrollPos = window.pageYOffset;
        if (prevScrollPos > currentScrollPos) {
          document.querySelector("header").style.top = "0";
        } else {
          document.querySelector("header").style.top = "-80px";
        }
        prevScrollPos = currentScrollPos;
      }
    </script>
  </body>
</html>
