@model ProductDataModel
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/styles.css">
    <meta charset="utf-8">
  <title>@Model.Product.name</title>
</head>
  <body>
    <header>
        <a href="~/Index">
          <div class="logo">FarmTrade</div>
        </a>
        <div class="search-bar">
          <form asp-controller="Home" asp-action="Search" method="GET">
          <input type="text" class="search-input" name="search_params" placeholder="Search products...">
          <button class="search-button" type="submit">Search</button>
          </form>
        </div>
        <div class="dropdown user-buttons">
          <button class="user-button">Categories</button>
          <ul class="dropdown-menu">
            @foreach (var cat in (IEnumerable<Category>)ViewData["catList"])
            {
              <li><a href="~/Index?cat=@cat.Category_id">@cat.Category_name</a></li>
            }
          </ul>
        </div>
        <div class="user-buttons">
          @if (User.Identity.IsAuthenticated)
          {
            <a class="user-button button" href="~/Favourites">Favourites</a>
            <a class="user-button button" href="~/Profile">Account</a>
          }
          else
          {
            <a class="user-button button" href="~/SignIn">Sign In</a>
            <a class="user-button button" href="~/SignUp">Sign Up</a>
          }
        </div>
      </header>
  <main>
    <div class="product">
      <div class="product-photo">
        <img src="@Model.Product.photo" alt="@Model.Product.name" style="width:100%; height: 100%">
      </div>
      <div class="product-info">
        <div class="product-name">@Model.Product.name</div>
        <div class="product-description">
          <b>Price:</b> @Model.Product.price for @Model.Product.weight <b>@Model.WeightType.Type_name</b>
        </div>
        <div class="product-description">
          <b>Descripion:</b> <br>
          @Model.Product.description
        </div>
        @if (Model.IsFavourited && User.Identity.IsAuthenticated && User.FindFirst("user_id").Value
             != Model.Seller.user_id.ToString())
        {
          <a href="~/Product/UnFav?id=@Model.Product.product_id">
            <button class="delete-button">Remove from favourites</button>
          </a>
        }
        else if (User.Identity.IsAuthenticated && User.FindFirst("user_id").Value
                 != Model.Seller.user_id.ToString())
        {
          <a href="~/Product/Fav?id=@Model.Product.product_id">
            <button class="contact-button">Add to favourites</button>
          </a>
        }
      </div>
      <a href="~/Profile/@Model.Seller.user_id">
      <div class="seller-info">
        <div class="seller-photo">
          <img src="@Model.Seller.profile_picture" alt="" class="seller-photo">
        </div>
        <div class="seller-name">@Model.Seller.first_name</div>
      </div>     
        </a>
      <a href="~/Profile/@Model.Seller.user_id">
        @if (User.Identity.IsAuthenticated && Model.Seller.user_id.ToString() == User.FindFirst("user_id").Value)
        {
          <a href="~/DeleteProduct?id=@Model.Product.product_id">
            <button class="delete-button">Delete Product</button>
            </a>
        }
        else
        {
          <a href="mailto: @Model.Seller.email?subject=Buy @Model.Product.name&body=Добрый день меня заинтересовала покупка товара @Model.Product.name">
            <button class="contact-button">Contact Seller</button>
            </a>
        }
      </a>
    </div>
  </main>
  <script>
    let prevScrollPos = window.pageYOffset;
    window.onscroll = function() {
      let currentScrollPos = window.pageYOffset;
      if (prevScrollPos > currentScrollPos) {
        document.querySelector("header").style.top = "0";
      } else {
        document.querySelector("header").style.top = "-80px";
      }
      prevScrollPos = currentScrollPos;
    }
  </script>
  </body>
</html>





